<!doctype html>
<html lang="" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

		<title>Orakel</title>

		<link rel="dns-prefetch" href="https://www.google-analytics.com">
		<link rel="dns-prefetch" href="https://cdn.rawgit.com">

		<link rel="preconnect" href="https://use.typekit.net">
		<link rel="preconnect" href="https://performance.typekit.net">
		<link rel="preconnect" href="https://p.typekit.net">
		<link rel="preconnect" href="https://cdn.polyfill.io">

		<link rel="icon" href="assets/images/favicon.png" type="image/x-icon">

		<link href="assets/css/application.min.css" rel="stylesheet" type="text/css">

		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default-3.6,Symbol,fetch,Array.prototype.includes,Array.prototype.find&flags=gated&version=latest&unknown=polyfill" defer></script>

		<script>
			(function(w, d) {
				// Mustard Cutting.
				// Bye, bye, IE9 & 10
				if (('MutationObserver' in w)) {
					d.documentElement.classList.remove('no-js');

					function loadScript(src, async, defer) {
						async = typeof async === 'undefined' ? true : !!async;
						defer = typeof defer === 'undefined' ? true : !!defer;

						var s = d.createElement('script');
						s.async = async;
						s.defer = defer;
						s.src = src;

						var f = d.getElementsByTagName('script')[0];
						f.parentNode.insertBefore(s, f);
					};

					// If we support native Custom Elements (v1)
					// we assume decent ES2015 support & load in the Rollup bundle
					if ('customElements' in w) {
						loadScript('assets/js/app.es6.min.js', true, false);

					// Else, we load a fallback & run the transpiled bundle from Babel
					} else {
						loadScript('https://cdn.rawgit.com/mrhenry/custom-elements-helpers/7a4574bf/polyfill/custom-elements.js', false, true);
						loadScript('assets/js/app.min.js', false, true);
					}
				}
			})(window, document);
		</script>

		<script>
			(function(d) {
				var config = {
					kitId: 'mlj0fwt',
					scriptTimeout: 3000,
					async: true
				},
				h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
			})(document);
		</script>

		<!-- Add additional assets below -->
	</head>
	<body>

	</body>
</html>
