/*
 * Styleguide CSS
 *
 * This stylesheets only functions for styleguide purpose, and should not be
 * used inside the Orakel Platform.
 */

/**
 * Intro
 */
.sg-intro {
	padding: 100px 20px;
	text-align: center;

	p {
		color: rgb(150, 150, 150);
		font-size: 18px;
		line-height: 2em;
		margin-left: auto;
		margin-right: auto;
		max-width: 600px;
	}
}

.sg-intro__logo {
	display: inline-block;
	width: 200px;
}

.sg-intro__title {
	font-size: 1.5rem;
	font-weight: normal;
	margin-bottom: 1em;
}

/**
 * Section
 */
.sg-section {
	border-top: 1px solid rgb(230, 230, 230);
	padding-bottom: 3rem;
	padding-top: 3rem;
}

.sg-section__title {
	padding-bottom: 1rem;
	position: relative;

	&::before {
		border-bottom: 1px solid black;
		bottom: 0;
		content: "";
		position: absolute;
		width: 75px;
	}

	a {
		border: none;
		color: black;
		position: relative;
		text-decoration: none;

		&::before {
			content: "∞";
			color: rgb(200, 200, 200);
			opacity: 0;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-150%, -50%);
			transition: opacity 303ms;
		}
	}

	&:hover {
		a {
			color: black;

			&::before {
				opacity: 1;
			}
		}
	}
}

/**
 * Wrapper
 */
.sg-wrapper {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 740px;

	&--centered {
		text-align: center;
	}
}

/**
 * Navigation
 */
.sg-nav {

}

#sg-nav__checkbox {
	display: none;
}

.sg-nav__drawer {
	background-color: #f5f5f5;
	bottom: 0;
	box-sizing: border-box;
	color: black;
	left: 0;
	overflow: auto;
	padding: 100px 20px 20px 20px;
	position: fixed;
	top: 0;
	transform: translate(-250px, 0);
	transition: transform 303ms cubic-bezier(0.42, 0, 0.58, 1);
	width: 250px;

	#sg-nav__checkbox:checked ~ & {
		transform: translate(0, 0);
	}
}

.sg-nav__nav {
	margin-bottom: 1rem;
	padding-bottom: 1rem;

	&:not(:last-child) {
		border-bottom: 1px solid rgb(220,220,220);
	}
}

.sg-nav__nav__title {
	color: rgb(180,180,180);
	font-size: 1.2rem;
	margin-bottom: 0.5em;
}

.sg-nav__nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sg-nav__nav__list__item {

}

.sg-nav__nav__link {
	border-bottom: 1px solid transparent;
	color: black;
	font-size: 1rem;
	line-height: 1.5em;
	text-decoration: none;

	&:hover {
		border-color: currentColor;
		color: black;
	}
}

.sg-nav__toggle {
	border: 1px solid black;
	border-radius: 50%;
	cursor: pointer;
	height: 50px;
	left: 20px;
	position: fixed;
	top: 20px;
	width: 50px;
	z-index: 999;

	svg {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%) rotate(0deg);
		transition: transform 303ms cubic-bezier(0.42, 0, 0.58, 1);
	}

	#sg-nav__checkbox:checked ~ & {
		svg {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}
}

/**
 * Code
 */
.sg-code {
	code {
		font-size: 14px;
		padding: 20px;
	}
}

.sg-placeholder {
	background-color: rgb(230, 230, 230);
	height: 5rem;
}

.sg-placeholder--large {
	height: 10rem;
}
